{% extends 'base.html.twig' %}

{% block title %}Détail d'un Vol{% endblock %}

{% block body %}
    <h1>Détail d'un Vol</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ flight.id }}</td>
            </tr>
            <tr>
                <th>Numéro de vol</th>
                <td>{{ flight.numFlight }}</td>
            </tr>
            <tr>
                <th>Ville de départ</th>
                <td>{{ flight.cityStart }}</td>
            </tr>
            <tr>
                <th>Heure de départ</th>
                <td>{{ flight.hourStart ? flight.hourStart|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Ville d'arrivée'</th>
                <td>{{ flight.cityStart }}</td>
            </tr>
            <tr>
                <th>Heure d'arrivée</th>
                <td>{{ flight.hourEnd ? flight.hourEnd|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ flight.price }}</td>
            </tr>
            <tr>
                <th>Réduction</th>
                <td>{{ flight.reduc ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Places</th>
                <td>{{ flight.totalSeats }}</td>
            </tr>
        </tbody>
    </table>

    <a type="button" class="btn btn-info" href="{{ path('app_flights_index') }}">Retour à la liste des vols</a>

    <a type="button" class="btn btn-success" href="{{ path('app_flights_edit', {'id': flight.id}) }}">Modifier</a>

    {{ include('flights/_delete_form.html.twig') }}
{% endblock %}
