{% extends 'base.html.twig' %}

{% block title %}Liste des vols{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <h1 class="col-8">Liste des vols</h1>
    
        {% if app.user %}
        <a type="button" class="btn btn-info col-4" href="{{ path('app_logout')}}">Se déconnecter</a>
        {% else %}
        <a type="button" class="btn btn-info col-2" href="{{ path('app_register')}}">S'inscrire</a>
        <a type="button" class="btn btn-info col-2" href="{{ path('app_login')}}">Se connecter</a>
        {% endif %}

    </div>
   
   
    <div class="form-group">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Numéro de vol</th>
                    <th scope="col">Ville de départ</th>
                    <th scope="col">Ville d'arrivée</th>
                    <th scope="col">Jour de départ</th>
                    <th scope="col">Heure de départ</th>
                    <th scope="col">Jour d'arrivée</th>
                    <th scope="col">Heure d'arrivée</th>
                    <th scope="col">Places</th>
                    <th scope="col">Prix</th>
                    <th scope="col">Réduction</th>
                </tr>
            </thead>
           
            <tbody>
                {% for flight in flights %}
                <tr>
                    <td>{{ flight.numFlight }}</td>
                    <td>{{ flight.cityStart.name }}</td>
                    <td>{{ flight.cityEnd.name }}</td>
                    <td>{{ flight.hourStart|date('F-dS') }}</td>
                    <td>{{ flight.hourStart|date('H:i') }}</td>
                    <td>{{ flight.hourEnd|date('F-dS') }}</td>
                    <td>{{ flight.hourEnd|date('H:i') }}</td>
                    <td>{{ flight.totalSeats }}</td>
                    <td>{{ flight.price }}</td>
                    {% if flight.reduc == true %}
                    <td><img src="/icones/insigne-de-reduction.png" alt="réduction"></td>
                    {% endif %}
                </tr>
                 {% endfor %}
            </tbody>
        </table>
        {% if is_granted('ROLE_ADMIN') %}
        <div class="mx-auto">
            <a type="button" class="btn btn-success" href="{{ path('app_flights_new') }}">Ajouter un nouveau vol</a>
            <a type="button" class="btn btn-success" href="{{ path('app_cities_new') }}">Ajouter une nouvelle ville</a>
            <a type="button" class="btn btn-info" href="{{ path('app_flights_index') }}">Page Administration</a>
        </div>
        {% endif %}
        
    </div>
</div>
    
{% endblock %}