{% extends 'base.html.twig' %}

{% block title %}Les villes{% endblock %}

{% block body %}
    <h1>Liste des villes</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Editer</th>
                <th>Supprimer</th>
            </tr>
        </thead>
        <tbody>
        {% for city in cities %}
            <tr>
                <td>{{ city.id }}</td>
                <td>{{ city.name }}</td>
                <td>
                    <a href="{{ path('app_cities_show', {'id': city.id}) }}">show</a>
                </td>
                <td>
                    <a href="{{ path('app_cities_edit', {'id': city.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">La liste est vide</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a role="button" class="btn btn-info" href="{{ path('app_cities_new') }}">Créé une nouvelle ville</a>
    <a role="button" class="btn btn-info" href="{{ path('app_main') }}">Retour accueil</a>
{% endblock %}
